@charset "UTF-8";

body {
	margin-top: 0;
	margin-left: 0;
}

header, footer {
	position: fixed;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #F7F2E0;
	color: #205181;
	text-align: center;
	z-index: 1;
}
/* 상단 네비바 style */
.navigation {
	position: fixed;
	width: 100%;
	height: 70px;
	color: #FFF;
	font-size: 1.5em;
	line-height: 0;
	background: #205181;
	z-index: 1;
}

.navigation .nav-left {
	float: left;
	width: 70%;
	padding: 15px;
}

.navigation .nav-left *{
	margin-right: 10px;
}

.navigation .nav-right {
	float: right;
    width: 25%;
    text-align: right;
    padding: 10px;
}

/* 
.navigation ul{
	display: inline-block;
}
.navigation nav ul li {
	display: inline-block;
	position: relative;
	padding: 0 20px 0 20px;
	vertical-align: middle;
}

.navigation nav ul li:first-child {
	margin: 0 100px 0 0;
}
 */


.fa-user {
	padding-right: 15px;
}

nav ul li:hover {
	color: #F7F2E0;
	cursor: pointer;
}

i {
	vertical-align: middle;
}

/* 사이드 바 style */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0;
	background-color: #205181;
	overflow-x: hidden;
	transition: 0.5s ease-in-out;
	padding-top: 60px !important;
}

.sidebar a {
	padding: 8px 8px 8px 32px !important;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.2s ease-in-out;
	/* 	width: 300px !important; */
}

.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}

.openside:hover {
	color: rgb(0, 154, 200);
	transition: 0.5s ease-in-out;
}

.openside {
	font-size: 25px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.openside>i {
	font-size: 30px;
}

/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}

.mainwrapper {
	
}