@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	font-family: "맑은 고딕";
}

#title {
	height: 45px;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
}

.container {
	margin-top: 100px;
}

/* 공지사항 등록, 수정 */
#formtitle {
	font-size: 15px;
}

.noticeBtn {
	float: right;
	margin-right: 190px;
}

#writeBtn, #enrollBtn {
	width: 70px;
	height: 35px;
	background: #205181;
	color: #FFF;
	border: 0;
	outline: 0;
}

#enrollBtn {
	float: right;
	margin-right: 5px;
}

#deleteBtn, #updateBtn {
	width: 70px;
	height: 35px;
	background: #F78181;
	color: #FFF;
	border: 0;
	outline: 0;
}

#updateBtn {
	float: right;
	margin-right: 5px;
}

#gotoList {
	background: #A9D0F5; float : right;
	margin-right: 5px;
	height: 35px;
	border: 0;
	outline: 0;
	border: 0;
	float: right;
}

.paging{
	margin-top: 50px;
}