@charset "UTF-8";

body {
	height: 750px;
}

#contentImgArea {
	margin-right: 100px;
}

#updateBtn, #goList, #deleteBtn {
	float: right;
	width: 75px;
	font-weight: bold;
	background: #205181;
	color: white;
	margin-right: 5px;
}

#goList {
	background: orange;
	width: 85px;
	float: right;
}

#deleteBtn {
	background: red;
}

.pagination>button {
	background: white;
	border: 1px solid lightgray;
	color: #045FB4;
	height: 32px;
	width: 40px;
}

table * {
	text-align: center; 
}

#listArea th{
	text-align: center;
}

