@charset "UTF-8";

body {
	height: 750px;
}

.form-control {
	width: 500px;
}

#enrllBtn {
	float: right;
	width: 80px;
	font-weight: bold;
	background: #205181;
	color: white;
	width: 80px;
}