@charset "UTF-8";

<style>
	body {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	/*표상단 제목*/
	h1{
		text-align: center;
	}
	/*표 선, 표 사이즈*/
	table{
		border: 1px solid black;
		border-collapse: collapse;
		width: 85%;
		height: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	/*폼태그*/
	.documentForm {
		margin-top: 80px;
		margin-bottom: 200px;
	}

	/*입력상자 앞에 항목부분*/
	.td{
		height: 50px;
		width: 40px;
		text-align: center;
		border: 1px solid black;
		border-collapse: collapse;
		background-color: lightgray;
	}
	/*번호td와 결재td 사이 공백 td  */
	.gap {
		height: 30px;
		width: 80px;
		border: 1px solid black;
		border-top: hidden;
		border-bottom: hidden;
	}
	.gap2{
		height: 30px;
		border-left: hidden;
	}
	.gap3{
		border-right: hidden;
	}
	/*결재사인 서명부분 */
	.approvalTd {
		text-align: center;
	}
	/*항목뒤 입력상자*/
	.approvalTd, .content{
		width: 50px;
		border: 1px solid black;
		border-collapse: collapse;
	}
	/*내용부분  */
	.lastContent {
		height: 15em;
		border: 1px solid black;
	}
	/*저장버튼  */
	.saveBtn {
		text-align: center;
		background-color: #205181;
		color:white;
	    position: absolute;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		top: 950px;
		left: 490px;
	    font-size: 16px;
	    border: 0;
	    outline: 0;
	}
	/*닫기버튼  */
	.closeBtn {
		text-align: center;
	    position: absolute;
		background-color: #F1C40F;
		color:white;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		top: 950px;
		left: 650px;
	    font-size: 16px;
	    border: 0;
	    outline: 0;
	}
	.lastContent .contentArea {
		position: absolute;
		border: 1px solid black;
		size: 20;
		width: 100%;
		left: 0px;
		top: 560px;
		height: 211px;
	}
	.lastContentDown .contentArea {
		position: absolute;
		border: 1px solid black;
		size: 20;
		width: 100%;
		left: 0px;
		top: 820px;
		height: 211px;
	}
	.white_content {
	z-index: 1;
    position: absolute;
    top: 0;
    height: 900px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
	}
	.white_content:target {
	    opacity:1;
	    pointer-events: auto;
	}
	.white_content > div {
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		padding: 16px;
		border: 16px solid #205181;
		background-color: white;
		overflow: auto;	
	}
	.white_content > div > .close > .saveBtn2 {
		text-align: center;
		background-color: #205181;
		color:white;
	    position: absolute;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		top: 85%;
		left: 200px;
	    font-size: 16px;
	    border: 0;
	    outline: 0;
	}
	.white_content > div > .close > .closeBtn2 {
		position: absolute;
		text-align: center;
		background-color: #F1C40F;
		width: 100px;
		height: 40px;
		color:white;
		border-radius: 10px;
	    font-size: 16px;
		top: 85%;
		left: 400px;
	    border: 0;
	    outline: 0;
	}
	.aTag:link, .aTag:visited, .aTag:active, .aTag:hover {
		text-decoration: none;
		color: #646464;
	}
	.detailDoc{
		
		border: 1px solid black;
		border-collapse: collapse;
		width: 80%;
		height: 60%;
		top: 100px;
		margin-left: auto;
		margin-right: auto;
	}
	.closedetail{
		text-align: center;
	    position: absolute;
		background-color: #F1C40F;
		color:white;
		border-radius: 10px;
		width: 100px;
		height: 40px;
		top: 700px;
		left: 650px;
	    font-size: 16px;
	    border: 0;
	    outline: 0;
	
	}
	
</style>