@charset "UTF-8";


<style>
/*이문서 전체영역 div  */
	.titleArea {
		position: relative;
		top: 30px;
	}
	/*문서제목  */
	.titleArea .title {
		position: relative;
		left: 120px;
	}
	/*제목 밑에 선  */
	.titleArea .line {
		width: 70em;
	}
	.titleArea tbody tr:eq(0) td:eq(0) {
		position: relative;
		left: 50px;
	}
	/*제목 밑에 선 밑 영역 테이블  */
	.settingTable {
		position: relative;
		left: 130px;
	}
	/*저장버튼  */
	.saveBtn {
		text-align: center;
		background-color: #205181;
		color:white;
		border-radius: 10px;
		width: 100px;
		height: 40px;
	    font-size: 16px;
   	    border: 0;
	    outline: 0;
	    margin-left: auto;
	    margin-right: auto;
	}
</style>