@charset "UTF-8";
/* approvalDocument */
/*결재할 문서 표*/
table {
	width: 75%;
        text-align: center;
         left: 350px;
         position: absolute;
          top:230px;
}

table, th, td {
	border: 1px double rgb(128, 181, 240);
}

th {
	background-color: rgb(128, 181, 240);
	border : 1px double skyblue;
	
	height: 30px;
	text-align: center;
}

td {
	height: 40px;
}
/*표 밑 버튼 영역*/
.btnArea {
	top: 500px;
	right: 650px;
	position: absolute;
}
/*승인버튼*/
.success {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 300px;
	position: absolute;
	border: 0;
	outline: 0;
}
/*반려버튼*/
.return {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 430px;
	position: absolute;
	border: 0;
	outline: 0;
}
/*좌측 화살표 버튼*/
.fas fa-chevron-left {
	position: absolute;
	right: 50px;
}
/*우측 화살표 버튼*/
.fas fa-chevron-right {
	position: absolute;
	right: 50px;
}

/* 페이징 */
.paging {
	position: relative;
	right: 40px;
}

/* returnBox */
/*내문서함으로 이동 버튼  */
.moveBtn {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 300px;
	position: absolute;
	border: 0;
	outline: 0;
}
/*휴지통으로 이동버튼  */
.garbageBtn {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 430px;
	position: absolute;
	border: 0;
	outline: 0;
}

/* myDocument */
/*작성버튼  */
.writeBtn {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 300px;
	position: absolute;
	border: 0;
	outline: 0;
}
/*상신버튼  */
.sendBtn {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 430px;
	position: absolute;
	border: 0;
	outline: 0;
}
/*삭제버튼  */
.deleteBtn {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 560px;
	position: absolute;
	border: 0;
	outline: 0;
}

/* temporaryDocument */
.move {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 100px;
	left: 140px;
	position: absolute;
}

.delete {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 100px;
	left: 260px;
	position: absolute;
}

.checkBox {
	height: 17px;
	width: 17px;
}

/* departmentDocument */
/*삭제버튼  */
.delete {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 100px;
	left: 80px;
	position: absolute;
	border: 0;
	outline: 0;
}
/* finishapproval */
.delete {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 330px;
	border: 0;
	outline: 0;
	position: absolute;
}
/* trash */
.move {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 330px;
	border: 0;
	outline: 0;
	position: absolute;
}

.delete {
	text-align: center;
	background-color: #F1C40F;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	top: 180px;
	left: 450px;
	position: absolute;
}

.selected{
	background-color: gray;
	}
/* defaultsetting */
/*이문서 전체영역 div  */
.titleArea {
	position: relative;
	top: 30px;
}
/*문서제목  */
.titleArea .title {
	position: relative;
	left: 120px;
}
/*제목 밑에 선  */
.titleArea .line {
	width: 70em;
}

.titleArea tbody tr:eq(0) td:eq(0) {
	position: relative;
	left: 50px;
}
/*제목 밑에 선 밑 영역 테이블  */
.settingTable {
	position: relative;
	left: 130px;
}
/*저장버튼  */
.saveBtn {
	text-align: center;
	background-color: #205181;
	color: white;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	border: 0;
	outline: 0;
	margin-left: auto;
	margin-right: auto;
}