@charset "UTF-8";
	td{
		width:100px;
		border:1px solid #CBCBCB;
		padding:10px;
	}
	tbody{
		vertical-align:top;
		text-align:right;
	}
	td.scheduleList{
		text-align:center !important;
		verical-align:middle;
	}
	#calendarTitle{
		width:700px !important;
	}
	table {
		margin:auto;
		border:0px;
		font-size: 13px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	#title{
		text-align:center;
		vertical-align:center;
	}
	#day{
		background:#f5f5f5;
		text-align: center;
		vertical-align: center;
		font-weight:bold;
		font-size:18px;
	}
	.sunday{
		color:#ff0000;
		font-weight:bold;
	}
	.saturday{
		color:#0000ff;
		font-weight:bold;
	}

	div.scheduleLeft{
		width:15%;
		height:100%;
		float:left;
		margin:0px;
	}
	div.list{
		position:relative;
		top:100px;
		left:200px;
		width:150px;
		height:150px;
		/* border:1px solid lightgray; */
		box-shadow:3px 3px 5px #959595;
		padding:15px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	#goCal{
		width:75%;
		height:50px;
		margin:10px 0px 0px 80px;
	}
	#goCalDate{
		position:relative;
		left:90%;
		width:195px;
	}
	#goCalYear{
		width:50px;
		border-radius: 3px;
	}
	#goCalMonth{
		width:35px;
		border-radius:3px;
	}
	#goCalBtn{
		position:relative;
		background:#f0f0f0 !important;
		margin: 2px 2px 2px 2px;
		border-radius:3px;
		width:50px;
		height:30px;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
		border:1px solid #f9f9f9;
		display:inline-table;
	}
	div.schedule{
		width:75%;
		float:left;
		margin:10px 0px 0px 90px;
	}
	div.scheduleRight{
		width:1%;
		height:100%;
		float:left;
		margin:10px;
	}
	div.bottom{
		height:30px;
		width:100%;
		float:left;
		}
	div.popUpSchedule{
		z-index:8;
		top:50%;
		left:50%;
		width:300px;
		height:200px;
		background:#f0f0f0;
		border-radius:5px;
		position:absolute;
		padding:25px 5px 5px 5px;
	}
	div.deleteSchedule{
		z-index:9;
		top:50%;
		left:50%;
		width:300px;
		height:200px;
		background:#f0f0f0;
		border-radius:5px;
		position:absolute;
		padding:25px 5px 5px 5px;
	}
	div.scheduleDay{
		width:250px;
		height:40px;
		padding: 5px;
		font-size:25px;
		margin-left:auto;
		margin-right:auto;	
	}
	div.message{
		padding:20px 10px 10px 5px;
		width:250px;
		height:80px;

	}
	div.confirm{
		position:absolute;
		top:55%;
		left:52.5%;
		width:230px;
		height:140px;
		background:#ffeded;
		z-index:10;
		padding:5px 5px 5px 5px;
		border:1px solid #ffcfcf;
		margin-left:auto;
		margin-right:auto;
		border-radius:5px;
	}
	.btnDiv{
		width:200px;
		height:50px;
	}
	.btnDiv .scheduleBtn{
		position:absolute;
		left:37%;
	}
	.btnDiv2 #delDelBtn{
		position:absolute;
		left:28%;
	}
	#cancleDelBtn{
		position:relative;
		left:52%
	}
	div.scheduleMsg{
		width:200px;
		height:80px;
		font-size:20px;
		text-align:center;
		/* margin-left:auto;
		margin-right:auto; */
	}
	div.scheduleBtn{
		margin-left:auto;
		margin-right:auto;
		border-radius:3px;
		background:white;
		width:50px;
		height:30px;
		display:inline-table;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
	}

	#daySchedule{
		width:250px;
		height:80px;
		padding:5px 10px 10px 5px;
	}
	td > p {
		text-align:left;
		color:#ffdddd;
		font-weight:bold;
	}
	
	input[type=checkbox] {  
    	display: none;  
	}
	
	#Myschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#269752;
	}
	#Teamschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#3069A8;
	}
	#Companyschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#C64A4A;
	}

	input[type=checkbox]+ label:before {     

	    content: "";  
	    display: inline-block;  

	/* width: 25px;  
	    height: 25px;  
	  	border: 1px solid lightgray; */
	    margin-right: 5px;  
	    position: absolute;  
	    left: 0;  
	    bottom: 1px;  
	    border-radius: 2px; 
	}
	
	#Myschedule:checked + label:before {
	    content: "\2713";  /* 체크모양 */
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;  
	    /* line-height: 18px;  */ 
	    color:#269752;
	} 
	#Teamschedule:checked + label:before {
	    content: "\2713";  /* 체크모양 */
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;
	    color:#3069A8;
	} 

	#Companyschedule:checked + label:before {
	    content: "\2713";
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;
	    color:#C64A4A;
	} 	