@charset "UTF-8";
	td{
		width:110px;
		height:90px;
		border:1px solid #CBCBCB;
		padding:10px;
	}
	tbody{
		vertical-align:top;
		text-align:right;
	}
	table {
		border:0px;
		font-size: 13px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	#title{
		text-align:center;
		vertical-align:center;
	}
	#day{
		background:#f5f5f5;
		text-align: center;
		vertical-align: center;
		font-weight:bold;
		font-size:18px;
	}
	.sunday{
		color:#ff0000;
		font-weight:bold;
	}
	.saturday{
		color:#0000ff;
		font-weight:bold;
	}
	td:hover{
		background:#f0f0f0;
	}
	div.sideMenu{
		width:15%;
		height:100%;
		float:left;
		margin:10px;
		align:center;
		
	}
	div.sideMenuHead{
		text-align:center;
		width:100%;
		height:50px;
		line-height:50px;
		background:#39476f;
		color:white;
		font-size:25px;
		position: relative;
	}
	div.sideMenuBody{
		text-align:center;
		width:100%;
		height:50px;
		line-height:50px;
		background:#52669b;
		color:white;
		font-size:25px;
		position: relative;
	}
	div.scheduleLeft{
		width:15%;
		height:100%;
		float:right;
		margin:10px;
	}
	div.list{
		position:relative;
		top:150px;
		left:0px;
		width:140px;
		height:170px;
		border:1px solid lightgray;
		border-radius: 7px;
		padding:15px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	div.schedule{
		width:75%;
		float:left;
		margin:10px;
	}
	div.scheduleRight{
		width:1%;
		height:100%;
		float:left;
		margin:10px;
	}
	div.bottom{
		height:30px;
		width:100%;
		float:left;
		}
	div.popUpSchedule{
		z-index:8;
		top:50%;
		left:40%;
		width:300px;
		height:250px;
		background:#f0f0f0;
		border:1px solid #D8D8D8;
		border-radius:5px;
		position:absolute;
		padding:25px 5px 5px 5px;
	}
	div.deleteSchedule{
		z-index:9;
		top:52%;
		left:40.5%;
		width:280px;
		height:200px;
		background:#EBF0FF;
		border:1px solid #C4D3FF;
		border-radius:5px;
		position:absolute;
		padding:25px 5px 5px 5px;
	}
	div.scheduleDay{
		width:250px;
		height:40px;
		padding: 5px;
		font-size:25px;
		margin-left:auto;
		margin-right:auto;	
	}
	div.message{
		padding:20px 10px 10px 5px;
		width:250px;
		height:80px;

	}
	div.confirm{
		position:absolute;
		top:55%;
		left:52.5%;
		width:230px;
		height:140px;
		background:#ffeded;
		z-index:10;
		padding:5px 5px 5px 5px;
		border:1px solid #ffcfcf;
		margin-left:auto;
		margin-right:auto;
		border-radius:5px;
	}
	.btnDiv{
		width:200px;
		height:50px;
	}
	.btnDiv .scheduleBtn{
		position:absolute;
		left:37%;
	}
	.btnDiv2 #delDelBtn{
		position:absolute;
		left:28%;
	}
	#cancleDelBtn{
		position:relative;
		left:52%
	}
	div.scheduleMsg{
		width:200px;
		height:80px;
		font-size:20px;
		text-align:center;
		/* margin-left:auto;
		margin-right:auto; */
	}
	div.scheduleBtn{
		margin-left:auto;
		margin-right:auto;
		border-radius:5px;
		background:white;
		width:50px;
		height:30px;
		display:inline-table;
		text-align:center;
		vertical-align:middle;
		line-height:30px;
	}

	#daySchedule{
		width:250px;
		height:120px;
		margin-top:auto;
		margin-bottom:auto;
		padding:20px 10px 10px 10px;		
	}
	#daySchedule > label{
		font-size : 15px;
	}
	
	td > p {
		text-align:left;
		font-weight:bold;
	}
	
	input[type=checkbox] {  
    	display: none;  
	}
	
	#Myschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#2ebe8b;
	}
	#Teamschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#736DCC;
	}
	#Companyschedule + label{
	    display: inline-block;  
	    cursor: pointer;  
	    position: relative;  
	    padding-left: 25px;  
	    margin-right: 10px;  
	    color:#C64A4A;
	}

	input[type=checkbox]+ label:before {     

	    content: "";  
	    display: inline-block;  

	/* width: 25px;  
	    height: 25px;  
	  	border: 1px solid lightgray; */
	    margin-right: 5px;  
	    position: absolute;  
	    left: 0;  
	    bottom: 1px;  
	    border-radius: 2px; 
	}
	
	#Myschedule:checked + label:before {
	    content: "\2713";  /* 체크모양 */
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;  
	    /* line-height: 18px;  */ 
	    color:#2ebe8b;
	} 
	#Teamschedule:checked + label:before {
	    content: "\2713";  /* 체크모양 */
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;
	    color:#736DCC;
	} 

	#Companyschedule:checked + label:before {
	    content: "\2713";
	    font-size: 22px; 
	    font-weight: 600;
	    text-align: center;
	    color:#C64A4A;
	} 