<meta charset="UTF-8">
<style>
.sub{
	text-indent: 1em;
}
</style>

<table>
	<tr>
		<td>즐겨찾기</td>
	</tr>
		<tr>
			<td class="sub">관리자</td>
		</tr>
		<tr>
			<td class="sub">가나다(팀장)</td>
		</tr>
	<tr>
		<td>인사회계팀</td>
	</tr>
	<tr>
		<td>마케팅팀</td>
	</tr>
	<tr>
		<td>개발팀</td>
	</tr>
		<tr>
			<td class="sub">가나다</td>
		</tr>
		<tr>
			<td class="sub">카카오(팀장)</td>
		</tr>
		<tr>
			<td class="sub">관리자</td>
		</tr>
		<tr>
			<td class="sub">가나다(팀장)</td>
		</tr>
	<tr>
		<td>디자인팀</td>
	</tr>
</table>